@{
    ViewBag.Title = "AgileDeveploment";
}

<div>
    <img src="@Url.Content(Model.ImagePath)" alt="Agile Development"style="width:100%"/>
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Agile Development to Deliver High-Quality Applications</h2>
        <p>
            Agile software development has become increasingly important in today’s rapidly changing business environment.
             Organizations adopt agile consulting services to improve time-to-market, reduce cost and quickly adapt to 
            change in their business and IT needs. With extensive experience in executing multiple projects on agile methodologies,
             our agile practitioners offer a tailored approach that recommends the right set of tools and methodologies to meet
             specific customer needs. Proving innovative Agile Development Solutions, we collaborate with distinctive groups spanning
             multiple locations to execute vital project functions, thus facilitating group correspondence, issue detection and tracking,
             project deliverables, continuous improvement and efficient project management.
        </p>
    </div>
</div>

