@{
    ViewBag.Title = "ApplicationDevelopment";
}

<div>
    <img src="@Url.Content(Model.ImagePath)" alt="Application Development" style="width:100%;" />
    <div class="col-md-10 col-md-offset-1">
        <h2>Application Development &amp; Maintenance</h2>
        <p>
            Software enables business organizations to develop, manage and exploit information for profit.  
            Typically, business organizations use a combination of “commercial, off-the-shelf” (“COTS”) 
            software and proprietary software.  To deal with changes in hardware platforms, software operating
             systems and commercial and regulatory requirements, all software needs ongoing changes.  The 
            software may become a SAAS (software as a service) product and possibly be integrated into the 
            cloud.  The developed software is created in order to meet the needs of the enterprise.
        </p>
        <p>
            In outsourcing, “application development and maintenance” means the process of managing the design,
             coding, testing and ongoing improvements and debugging of software.   Business organizations that 
            use proprietary software may use internal resources – subject matter experts (“SME’s”) and process 
            managers – to prepare and update the overall business requirements definitions (“BRD’s”) for new 
            software.  Then they can outsource the coding, testing and implementation of new BRD’s on a 
            work-for-hire basis.
        </p>
        <p>

        </p>

    </div>
</div>

