@{
    ViewBag.Title = "BankingFinancial";
}
<div>
    <img src="@Url.Content(Model.ImagePath)" alt="Banking & financial Image" style="width:100%" />
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Banking &amp; Financial Services</h2>
        <p>
           Transforming Financial Institutions with Customer-Centric Banking IT Solutions
           The banking and financial service industries are witnessing unprecedented forces 
            of change – be it stringent regulations or fierce competition or fast changing 
            customer needs. Consequently, the financial institutions are looking to implement 
            the best Banking IT services to gain customer loyalty, improve functional efficiency 
            and ensure regulatory compliance.
        </p>
        
    </div>
</div>