
@{
    ViewBag.Title = "HealthCare";
}
<div>
    <img src="@Url.Content(Model.ImagePath)" alt="HealthCare Image" style="width:100%" />
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Health Care Services</h2>
        <p>
            With advancements in digitization and focus on personalized, patient-centric and
            outcome based care models, there have been structural changes in healthcare industry,
            which puts pressure on all involved including sponsors to care givers in care continuum.
            Healthcare players must transform business models with apt healthcare IT solutions to
            deliver customer engagement and customer experience models and enhance operational efficiencies
            through automation and integration, while adhering to all regulatory requirements.
        </p>
       

    </div>
</div>