
@{
    ViewBag.Title = "Insurance";
}

<div>
    <img src="@Url.Content(Model.ImagePath)" alt="Insurance Image" style="width:100%" />
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Insurance Industries</h2>
        <p>
            With growing usage of telematics devices and “Pay as you Go” type products, 
            Insurance industry is perhaps the first among the Banking and Financial Services 
            institutions to experience and respond to Internet of Things (IoT) revolution 
            first hand. In addition, the industry is facing multiple challenges ranging from 
            competitive market situation and evolving customer demands to technology driven 
            disruptions like usage of mobiles and more stringent regulations. Navigating this 
            environment with right strategy and partnership is key to success.
        </p>
        

    </div>
</div>
