
@{
    ViewBag.Title = "Testing";
}

<div style="margin:0;padding:0">
    <img src="@Url.Content(Model.ImagePath)" alt="Testing Image" style="width:100%"/>
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Quality, Performance and Reliability Assured</h2>
        <p>
            Software testing is an investigation conducted to provide stakeholders with information about the quality of the product or service under test.Software testing can also provide an objective, independent view of the software to allow the business to appreciate and understand the risks of software implementation. Test techniques include the process of executing a program or application with the intent of finding software bugs (errors or other defects).

            Software testing involves the execution of a software component or system component to evaluate one or more properties of interest. In general, these properties indicate the extent to which the component or system under test:

            meets the requirements that guided its design and development,
            responds correctly to all kinds of inputs,
            performs its functions within an acceptable time,
            is sufficiently usable,
            can be installed and run in its intended environments, and
            achieves the general result its stakeholders desire.
            As the number of possible tests for even simple software components is practically infinite, all software testing uses some strategy to select tests that are feasible for the available time and resources. As a result, software testing typically (but not exclusively) attempts to execute a program or application with the intent of finding software bugs (errors or other defects). The job of testing is an iterative process as when one bug is fixed, it can illuminate other, deeper bugs, or can even create new ones.

            Software testing can provide objective, independent information about the quality of software and risk of its failure to users and/or sponsors.[1]

            Software testing can be conducted as soon as executable software (even if partially complete) exists. The overall approach to software development often determines when and how testing is conducted. For example, in a phased process, most testing occurs after system requirements have been defined and then implemented in testable programs. In contrast, under an Agile approach, requirements, programming, and testing are often done concurrently.
        </p>
    </div>

</div>