
@{
    ViewBag.Title = "TravelLogistics";
}
<div>
    <img src="@Url.Content(Model.ImagePath)" alt="TravelLogistics" style="width:100%" />
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Travel &amp; Logistics</h2>
        <p>
        Online travel portals have revolutionized the way travel is researched, planned and bought today. 
        Online channels bring the world closer by offering travelers the ability to select and book from 
        wide range of options for hotel accommodation, flights and tourist attractions across the world.
         Besides, Mobile technology is growing exponentially across business and leisure travelers. As a 
        leading travel portal solution provider, we help travel companies leverage technology to reduce 
        operational costs and enrich traveler’s experience.</p>
        <p>
        In the current global economy, logistics technology services has found utmost importance due to its 
        dynamicity. Gone are the days when logistics was confined to just the movement of freight and goods. 
        Managing costs, security issues, fuel tracking, time management, legal compliance are some of the 
        major challenges logistics industry is facing currently.</p>

    </div>
</div>
